* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 150%;
    color: #FFFFFF;
}
h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 26px;
    color: #FFFFFF;
}
h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #212121;
}
h4 {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #666666;
}
p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}
span {
    font-style: normal;
    font-weight: normal;
}
button {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
}